<tr>
  <td>
    <p class="has-text-weight-bold">
      <%= link_to ticket.name, ticket_path(ticket) %>
    </p>
  </td>

  <td></td>
  <td><%= ticket.status %></td>
  <td></td>
  <td>
    <%= link_to 'Edit', edit_ticket_path(ticket), class: 'button is-small is-outlined is-link' %>
    <%= link_to 'Delete', ticket_path(ticket), method: 'delete', class: 'button is-small is-outlined is-danger' %>
  </td>
</tr>