<%= render 'shared/title', title: 'Tickets' %>

<%= render 'tickets_table', tickets: @tickets %>

<% if logged_in? %>
  <div class="buttons">
    <%= link_to 'New Ticket', new_ticket_path, class: 'button is-primary is-outlined' %>
  </div>
<% end %>
