<%= render 'shared/title', title: 'Tickets' %>

<%= render 'tickets_table', tickets: @tickets %>

<div class="buttons">
  <%= link_to 'New Ticket', new_ticket_path, class: 'button is-primary is-outlined' %>
</div>