document.querySelector('table').innerHTML = `
  <thead>
    <th>Name</th>
    <th>Assignee</th>
    <th>Status</th>
    <th>Tags</th>
    <th></th>
  </thead>

  <tbody>
    <%= render @tickets %>
  </tbody>
</table>
`