<section class="section">
	<div class="container">
    <h1 class="title is-1"><%= @project.name %></h1>
    <p><%= @project.description %></p>

    <div class="buttons">
      <%= link_to 'Edit', edit_project_path(@project), class: 'button is-link is-outlined is-small' %>
      <%= link_to 'Delete', '', class: 'button is-danger is-outlined is-small' %>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <h2 class="title is-2">Tickets</h2>
    <table class="table is-fullwidth is-striped">
      <thead>
        <th>Name</th>
        <th class="has-text-centered">Open Tickets</th>
        <th class="has-text-centered">Total Tickets</th>
      </thead>
    
      <tbody>
    
      </tbody>
    </table>
  </div>
</section>